##Create an anonymous function which will print the sum of all the elements in this list -> [5, 8, 10, 20, 50, 100]

In [5]:
lst = [5, 8, 10, 20, 50, 100]

#sum(lst)
from functools import reduce
print(reduce(lambda x,y:x+y, lst))

193

## Write a python program to print an arithmetic table for any number using lambda

In [19]:
n = int(input("Enter a number to find arithmatic table:"))

def arithmatic(num):
    if num == 0:
        return("Enter a valid number")
    else:
        num2 = 1
        while num2<=10:
            print(f"{num} x {num2} = {num*num2}")
            num2 += 1
        
arithmatic(n)

Enter a number to find arithmatic table:4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [21]:
num = int(input("Enter a number to find arithmatic table:"))

def arithmatic(n):
    return lambda a:a*n

b = arithmatic(num)
for i in range(1,11):
    print(f"{num} x {i} = {b(i)}")

Enter a number to find arithmatic table:4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [22]:
n = int(input("Enter a number:"))

b = lambda a:a*n

for i in range(1,11):
    print("{} X {} = {}".format(n,i,b(i)))

#lambda args1,args2,ars3....: Expression

Enter a number:2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

## [4:05 PM] RAJENDRAN Surendrakumar
    Program 3 :
A TrainComposition is built by attaching and detaching wagons from the left and the right sides, efficiently with 
respect to time used.
For example, if we start by attaching wagon 7 from the left followed by attaching wagon 13 again from the left, we get a composition of two wagons (13 and 7 from left to right). Now the first wagon that can be detatched from the right is 7 and the first can be
detached from the left is 13. 
Implement a TrainComposition that models this problem

Hint : Write 3 python functions, 
      Attaching wagon from left      Detatch wagon from right      Detatch wagon from left

In [25]:
wagon_lst = []

def attachWagon(n):
    wagon_lst.append(n)
    return wagon_lst

def detachWagonRight():
    detWagon = wagon_lst[1]
    return detWagon

def detachWagonLeft():
    detWagon = wagon_lst[0]
    return detWagon

attachWagon(13)
attachWagon(7)

[13, 7]

In [26]:
detachWagonRight()

7

In [27]:
detachWagonLeft()

13

In [31]:
wagon_lst = []

def attachWagon(n1,n2):
    wagon_lst.extend([n1,n2])
    return wagon_lst

def detachWagonRight():
    detWagon = wagon_lst[1]
    return detWagon

def detachWagonLeft():
    detWagon = wagon_lst[0]
    return detWagon

print(attachWagon(13,7))
print(detachWagonRight())
print(detachWagonLeft())

[13, 7]
7
13

In [64]:
import pandas as pd

data = (13,7)
columns = ("FirstWagon","SecondWagon")
df = pd.DataFrame([columns,data])

In [65]:
df

            0            1
0  FirstWagon  SecondWagon
1          13            7

In [66]:
df[1]

0    SecondWagon
1              7
Name: 1, dtype: object

In [60]:
df[0]

0    FirstWagon
1            13
Name: 0, dtype: object

In [67]:
lst = [1,3,4,6]
sum(lst)

14

In [138]:
import random

lst = []
for i in range(0,10):
    a = random.randint(1,100)
    lst.append(a)

In [139]:
lst

[70, 34, 98, 76, 46, 38, 60, 42, 60, 1]

In [211]:
def split_and_join(line):
    if line != "":
        word_line = line.split(" ")
        new_line  = "-".join(word_line)
        print(new_line)
    
split_and_join("this is a string")

this-is-a-string

In [237]:
string = "charactercter"
sub_string = "cter"

a = string.count(sub_string)

In [239]:
a

2